@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* colors pallete : 
 * #000000
 * #D14836
 * #ffffff
 */

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

/* body {
  background-color: #D14836;
} */